# **파이썬 문법**

# 인덴트

*   PEP 8에 따라 공백 4칸을 원칙으로 함

In [ ]:
def long_function_name(
    var_one, var_two
    var_three, var_four):
  print(var_one)

# 네이밍 컨벤션 (Naming Convention)

java와 달리 각 단어를 밑줄(_)로 구분하여 표기하는 snake case(스네이크 케이스)를 따름

In [ ]:
# Camel Case (java sytle)
camelCase: int = 1

# Snake Case (Python style)
snake_case: int = 1

# 타입 힌트 (Type Hint)

Python은 대표적인 동적 타이핑 언어임에도, 타입을 지정할 수 있는 타입 힌트가 추가됨 (파이썬 버전 3.5 이상)

In [ ]:
a: str = "1"
b: int = 1

In [ ]:
# 타입 힌트 사용하지 않는 파이썬 함수
def fn(a):
  pass

이는 빠르게 정의해서 사용할 수 있는 장점이 있지만,  
 *  fn() 함수의 파라미터 a에는 숫자를 넘겨야 하는지, 문자를 넘겨야 하는지 전혀 알 수 없음
 *  함수의 리턴값이 무엇인지도 알 수 없음.

프로젝트 규모가 커지게 되면 **가독성을 떨어뜨리게** 되며 **버그 유발**의 주범이 됨.

In [ ]:
def fn(a:int) -> bool:
  pass

이처럼 타입 힌트를 사용하게 되면,  
fn() 함수의 파라미터 a가 정수형임을 분명하게 알 수 있으며 리턴

*   fn() 함수의 파라미터 a가 정수형임을 분명하게 알 수 있으며
*   return 값으로 True 또는 False를 리턴할 것이라는 점도 알 수 있음

명시적으로 선언하게 되면 **가독성이 좋아지며 버그 발생 확률을 줄일** 수 있음

# 리스트 컴프리헨션 (List Comprehension)

map, filter와 같은 함수형 (Functional) 기능을 지원하며 다음과 같은 람다(lambda) 표현식도 지원함

In [ ]:
list(map(lambda x: x+10, [1,2,3]))

[11, 12, 13]

In [ ]:
[n * 2 for n in range(1,10+1) if n % 2 == 1]

[2, 6, 10, 14, 18]

만약 리스트 컴프리헨션을 사용하지 않으면 다음과 같이 작성해야 함

In [ ]:
a = []
for n in range(1,10+1):
  if n % 2 == 1:
    a.append(n * 2)

In [ ]:
a

[2, 6, 10, 14, 18]

이처럼 풀어서 작성한 코드는 리스트 컴프리헨션에 비해 훨씬 더 길어졌고, a라는 별도의 리스트 변수 또한 필요해졌음.

리스트 외에도 딕셔너리 등 가능함

In [ ]:
original = {'test':1, 'testt':2}

# 딕셔너리 컴프리헨션 X
a = {}
for key, value in original.items():
  a[key] = value

# 딕셔너리 컴프리헨션 O
aa = {key: value for key, value in original.items()}

{'test': 1, 'testt': 2}

In [ ]:
a

{'test': 1, 'testt': 2}

In [ ]:
aa

{'test': 1, 'testt': 2}

# 제너레이터 (Generator)

제너레이터는 루프의 반복(Iteration) 동작을 제어할 수 있는 루틴의 형태를 의미함  

제너레이터는 메모리에 보관해두지 않고, 단순히 제너레이터만 생성해두고 필요할 때 언제든 숫자를 만들 수 있음  


*  yield 구문을 통해 제너레이터를 return할 수 있음
*  yield는 함수를 종료하지 않고 return만 하고 계속해서 함수를 진행함  

기존 함수는 return 구문을 맞닥뜨리면 값을 return하고 모든 함수의 동작을 종료함

In [ ]:
def get_natural_number():
    n = 0
    while True:
      n += 1
      yield n

In [ ]:
get_natural_number()

함수의 리턴 값은 다음과 같이 제너레이터가 됨

값을 생성하려면 next()로 추출하면 됨

In [ ]:
g = get_natural_number()
for _ in range(0,5):
    print(next(g))

1
2
3
4
5

제너레이터는 여러 타입의 값을 하나의 함수에서 생성하는 것도 가능

In [ ]:
def generator():
    yield 1
    yield 'string'
    yield True

In [ ]:
g = generator()

In [ ]:
next(g)

1

In [ ]:
next(g)

'string'

In [ ]:
next(g)

True

In [ ]:
next(g)

StopIteration:

# range

제너레이터의 방식을 활용하는 대표적인 함수

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
range(5)

range(0, 5)

In [ ]:
type(range(0,5))

range

In [ ]:
for i in range(0,5):
    print(i, end=' ')

0 1 2 3 4

range()는 range 클래스를 리턴하며, for문에서 사용할 경우 내부적으로 제너레이터와 next()를 호출하듯 매번 다음 숫자를 생성해냄

In [ ]:
a = [n for n in range(10000)]

In [ ]:
b = range(10000)

In [ ]:
len(a)

10000

In [ ]:
len(b)

10000

In [ ]:
len(a) == len(b)

True

실제로 len()으로 길이 비교를 해보면 둘 다 동일한 10000개가 출력되며, 비교 연산자에서도 True를 return함

그러나 a에는 이미 생성된 값이 담겨있고, b는 생성해야 한다는 조건만 존재함

In [ ]:
b

range(0, 10000)

In [ ]:
type(b)

range

둘 사이의 메모리 점유율을 비교해보면 range 클래스를 리턴하는 방식의 장점이 쉽게 와닿음

In [ ]:
import sys

sys.getsizeof(a)

85176

In [ ]:
sys.getsizeof(b)

48

똑같이 숫자 100만개를 갖고 있으나 range 클래스를 이용하는 b 변수의 메모리 점유율이 훨씬 작음 (생성 조건만 보관하고 있기 때문)

미리 생성하지 않은 값은 인덱스에 접근이 안될 거라 생각할 수 있으나, 인덱스로 접근 시에는 바로 생성하도록 구현되어 있기 때문에 리스트와 거의 동일한 느낌으로 불편없이 사용할 수 있음

In [ ]:
a[999]

999

In [ ]:
b[999]

999

# enumerate

여러가지 자료형(list, set, tuple 등)을 인덱스를 포함한 enumerate 객체로 리턴함

In [ ]:
a = [1, 2, 3, 2,45, 2, 5]

In [ ]:
a

[1, 2, 3, 2, 45, 2, 5]

In [ ]:
enumerate(a)

In [ ]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 2), (4, 45), (5, 2), (6, 5)]

인덱스를 자동으로 부여해줌

In [ ]:
a = ['a1', 'a2', 'a3']

for i in range(len(a)):
    print(i, a[i])

0 a1
1 a2
2 a3

In [ ]:
i = 0
for v in a:
  print(i, v)
  i += 1

0 a1
1 a2
2 a3

In [ ]:
# enumerate 사용 시, 인덱스와 값 모두 한 번에 깔끔하게 처리됨
for i, v in enumerate(a):
    print(i, v )

0 a1
1 a2
2 a3

# // 나눗셈 연산자

In [ ]:
5 / 3

1.6666666666666667

In [ ]:
5 // 3

1

In [ ]:
int(5 / 3)

1

몫 (Quotient) = //  
나머지 (Remainder) = %

In [ ]:
5 % 3

2

몫과 나머지를 동시에 구하는 방법

In [ ]:
divmod(5, 3)

(1, 2)

# Print

In [ ]:
print('A', 'B')

A B

sep 파라미터로 구분자를 콤마(,)로 지정 가능

In [ ]:
print('A', 'B', sep=',')

A,B

print() 함수는 항상 줄바꿈을 함.
end 파라미터를 공백으로 처리하여 줄바꿈을 하지 않도록 제한 가능

In [ ]:
print('A', end=' ')
print('B')

A B

join()으로 묶어서 처리 가능

In [ ]:
a = ['A', 'B']
print('*'.join(a))

A*B

In [ ]:
idx = 1
fruit = 'apple'

In [ ]:
print('{0}: {1}'.format(idx+1,fruit))

2: apple

In [ ]:
print(f'{idx+1} : {fruit}')

2 : apple

# pass

null 연산으로 아무것도 하지 않는 기능
보통 코딩하다 보면 일단 코드의 전체 골격을 잡아 놓고 내부에서 처리할 내용은 차근차근 생각하며 만들겠다는 의도로 사용

In [ ]:
def test():
    pass

# locals

locals는 namespace를 딕셔너리(dict)으로 정리해서 넣어줌  
* namespace란, 변수와 함수들이 정의되는 공간을 의미함. 변수 이름과 그에 해당하는 객체(값)들 간의 매핑을 저장하는 딕셔너리로 구현

로컬에 선언된 모든 변수를 조회할 수 있는 강력한 명령어

In [71]:
x = 10
def test():
    a = 1
    b = 2
    print(locals()) # 지역 변수를 dict 형태로 불러
    #print(globals()) # 전역 변수를 dict 형태로 불
test()

{'a': 1, 'b': 2}

# 코딩 스타일

파이썬의 PEP 8 과 구글의 파이썬 스타일 가이드를 참조

# 변수명과 주석

변수명을 잘 지어주고, 주석을 영어로 달자

# 리스트 컴프리헨션

리스트 컴프리헨션은 대체로 표현식이 2개를 넘지 않도록 하고 복잡해질 경우 줄을 나누어 사용하자.

가독성이 떨어 질 수 있기 때문이다.

In [ ]:
str1s = [str1[i:i+2].lower() for i in range(len(str1)-1) if re.findall('[a-z]{2}',str1[i:i+2].lower())]

한 줄 풀이에 집착하기보다는 라인을 좀 더 여유있게 활용하여 가독성을 높이자

In [ ]:
str1s = []
for i in range(len(str1)-1):
    if re.findall('[a-z]{2}',str1[i:i+2].lower()):
        str1s.append(str1[i:i+2].lower())

# 구글 파이썬 스타일 가이드

함수의 기본 값으로 가변 객체(mutable object)를 사용하지 않음

함수가 객체를 수정하면 기본값이 변경되기 때문임

In [ ]:
def foo(a, b= []):
    pass
def foo(a, b: Mapping = {}):
    pass

대신 다음과 같이 불변 객체(immutable object)를 사용함

In [ ]:
def foo(a, b = None):
    pass
def foo(a, b: Optional[Sequence] = None):
    if b is None:
        b = []

True, False를 판별할 때는 암시적인 방법을 사용하는 편이 간결하고 가독성이 좋다.

![image.png]()